<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    <input id='react-btn' type='button' value='React'>
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const text_data_json = JSON.parse(e.data);
            const action = text_data_json.action
            const data = text_data_json.data
            switch (action) {
                case 'create_message':
                    document.querySelector('#chat-log').value += (data.content + '    ' + data.create_at + '\n');
                    break;
                case 'create_reaction':
                    document.querySelector('#chat-log').value += ('<3\n');
                    break;
            }
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            if (message == '') {
                return
            }
            chatSocket.send(JSON.stringify({
                'action': 'create_message',
                'data': {
                    'member': 3,
                    'channel': 2,
                    'content': message
                }
            }));
            messageInputDom.value = '';
        };

        document.querySelector('#react-btn').onclick = function (e) {
            chatSocket.send(JSON.stringify({
                'action': 'create_reaction',
                'data': {
                    'member': 3,
                    'message': 12,
                    'emoji': 1
                }
            }));
        }
    </script>
</body>
</html>